
@{
    ViewBag.Title = "ThongBao";
    Layout = "~/Views/Layout/ProductLayout.cshtml";
}
<style>
    h1, p {
        font-family: Poppins, sans-serif;
        text-align: center;
        font-weight: bold
    }
    h1{
        color:red;
    }
</style>
<div class="container" style="padding-top:30px">
    <h1 >Sản phẩm hiện đang hết hàng.</h1>
    <p>
        Vui lòng chọn một mặt hàng khác
    </p>
</div>

