@{
    ViewBag.Title = "DangPhatTrien";
    Layout = "~/Views/Layout/ProductLayout.cshtml";
}
<div class="container">
    <div style="padding-top:20px;padding-bottom:20px">
    </div>
    <h1 style=" font-family:Poppins, sans-serif;color:red;text-align:center;font-weight:bold">Chức năng hiện đang phát triển</h1>
    <p style="font-size:15pt;text-align:center;font-weight:bold">Liên hệ quản trị viên để biết thêm chi tiết</p>
</div>

