
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Không có quyền</title>
    <style>
        h1, p {
            font-family: Poppins, sans-serif;
            text-align: center;
            font-weight: bold
        }

        h1 {
            color: red;
        }
    </style>
  
</head>
<body>
    <div class="container" style="padding-top:30px">
        <h1>Bạn không có quyền truy cập.</h1>
        <p>
            Liên hệ quản trị viên để biết thêm chi tiết !!!
        </p>
    </div>
</body>
</html>
